@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Neon&display=swap');
*{
    font-family: 'Roboto', sans-serif;
font-family: 'Tilt Neon', cursive;
margin: 0;
padding: 0;
}
body {
    background-color: blue;
}
h2{
    color: aliceblue;
    font-size: 40px;
    animation-name:left-to-right ;
    animation-duration:4s;

}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: coral;
}
nav a{
    color: blanchedalmond;
    text-decoration:none;
}
nav a:hover{
color: rgb(56, 15, 95);
cursor: wait;

}
nav{
    display: flex;
    gap: 50px;
}
@keyframes left-to-right{
    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.caja{
width: 200px;
height: 200px;
background-color: rgb(141, 96, 41);
border: 10px chartreuse solid;
border-top-right-radius: 20px;
padding: 10px 8px;
animation-name:left-to-right ;
animation-duration:4s;

}
.caja:hover{
transition: 4s ease-in;
background-color: blue;   
transform: translateX(-50px); 
rotate: 360deg;
}
footer h2{
    color: black;
    font-size: 1rem;
    padding: 10vh 10vw;
}